
h2 {
  text-align: center;
  padding: 30px 20px;
  margin: 30px 20px;
}
/*
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
ul li {
  display: inline;
  width: 800px;
  height: 200px;
  float: left;
  border: 1px solid red;
}
*/
.mitumori {
  display: none;
}

}
div.container {
  text-align: center;
}
div.row {
  text-align: center;
}
label {
  width: 120px;
  height: 200px;
  text-align: center;
}
label.btn {
  border: 3px solid #17A2B8;
}
input {
  opacity: 0;
  width: 0px;
  height:0px;
}
#total {
  display: none;
}

footer {
  text-align: center;
  height: 50px;
  background-color: #B2EBCC;
}
