@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap");
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif !important;
}
/* div#start {
  font-family: "Noto Sans JP", sans-serif !important;
} */

div#start.text-center {
  background-color: #fad220;
  margin: 0px 0px 0px 0px;
}
#start h2 {
  font-size: 3.2rem;
}
#start h1 {
  /* font-family: "Noto Sans JP", sans-serif;
  padding-bottom: 200px;
  margin: 0px; */
  text-align: left;
  font-size: 4.0rem;
}
#start h4 {
  font-size: 1.8rem;
}
/*
#start div.col-md-10 p.main {
  margin: 0 0 0 0;
  padding-top: 100px;
  font-size: 48px;
  text-align: left;
}
*/
/*
#start div.container img {
  position: absolute;
  right: 100px;
  top: 330px;
}
#start .sub {
  margin-top: 10px;
  font-size: 18px;
  text-align: left;
}
#start div.container div.row div.col-md-10 {
  padding: 0px 0px;
}
#start div.container div.row div.col-md-10 {
  text-align: left;
}
*/
#start button.btn {
  color: black;
  padding: 10px 25px;
  background-color: #ffea81;
  border: 2px solid black;
  border-radius: 30px;
  font-size: 1.8rem;
}
#start button.btn img {
  margin-left: 10px;
  padding-bottom: 3px;
}
#start button.btn:hover {
  background-color: #f55427;
}
div.mitumori div.img {
  text-align: center;
  margin: 100px 0 10px 0;
}
div.mitumori h2 {
  text-align: center;
  padding: 30px 20px;
  margin: 10px 0px 50px 0px;
}
div.text-center {
  margin: 30px 0px 0px 0px;
}
div.text-center button.btn {
  background-color: #394e8a;
  color: white;
  border: 2px solid #394e8a;
  border-radius: 5px;
  font-size: 1.6rem;
  padding: 6px 12px;
}
div.text-center button.btn:hover {
  background-color: white;
  color: black;
}
/*
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
ul li {
  display: inline;
  width: 800px;
  height: 200px;
  float: left;
  border: 1px solid red;
}
*/

div.mitumori {
  display: none;
  /* font-family: "Noto Sans JP", sans-serif !important; */
  font-weight: bold;
}
div.mitumori h2 {
  font-size: 3.2rem;
}

/*  ページ番号  */
div.mitumori div.page p {
  font-size: 2.0rem;
  position: absolute;
  top: 20px;
  right: 20px;
}
div.container {
  text-align: center;
}
div.row {
  text-align: center;
}
label {
  width: 120px;
  height: 200px;
  text-align: center;
}
label.btn {
  border: 3px solid #17a2b8;
  font-size: 1.4rem;

}
label.btn div.icon {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
}
/*
label.btn div.text {
  height: 50%;
}
label.btn div.center {
  height: 100%;
  line-height: 182px;
}
*/
input {
  opacity: 0;
  width: 0px;
  height: 0px;
}
#total {
  display: none;
}

footer {
  text-align: center;
  background-color: #61615f;
  padding: 20px 0px;
}

/*スマホ対応*/
@media screen and (max-width: 992px) {
html {
  font-size: 50%;
}

  label.btn {
  /*  font-size: 7px; */
  }
  label {
    width: 100px;
    height: 130px;
  }
}

@media screen and (max-width: 768px) {
  #start h1 {
    padding-top: 20%;
    /* padding-bottom: 100px; */
  }
  #start div.container div.row div.col-sm-10 p.main {
    padding-top: 30px;
    font-size: 35px;
  }
  #start div.container div.row button.btn {
    /* font-size: 15px; */
  }
  #start div.container div.row div.mitumori h2 {
  /*  font-size: 20px; */
    margin: 70px 0px 30px 0px;
  }
  label {
    width: 120px;
    height: 150px;
  }
  div.col-xs-2 label.btn:hover {
    background-color: #17a2b8;
  }
  div.text-center button.btn {
    /* margin-bottom: 50px; */
  }
  div.mitumori {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 576px) {
  #start div.container div.row div.col-8 p.main {
    text-align: center;
    /* font-size: 20px; */
  }
  #start div.container div.row div.col-8 {
    text-align: center;
  }
}

@media screen and (min-width: 480px) {
  /*　画面サイズが480px以上の場合ここの記述が適用される　*/
  .main-left {
    padding-left: 17% !important;
  }
  .main-right {
    padding-right: 17% !important;
  }
}

@media screen and (max-width: 480px) {
  /*　画面サイズが480px以下の場合ここの記述が適用される　*/
  .main,
  .sub {
    line-height: 1.3 !important;
  }
  .main {
    /* font-size: 2em; */
  }

  .main-left,
  .main-right {
    padding: 1% 5% !important;
  }
}

@media screen and (max-width: 350px) {
  label {
    width: 100px;
    height: 130px;
  }
}
