#start {
  background-color: #FAD220;
}
#start h1 {
  padding-bottom: 200px;
  margin: 0px;
}
#start p {
  padding-top: 100px;
  font-size: 40px;
}
#start button.btn {
  color: black;
  padding-bottom: 10px;
  font-size: 30px;
  background-color: #F5F395;
  border: 2px solid black;
  border-radius: 30px;
}
#start button.btn:hover {
  background-color: #F55427;
}
div.mitumori h2 {
  text-align: center;
  padding: 30px 20px;
  margin:100px 0px 50px 0px;
}
div.text-center {
  margin: 30px 0px 0px 0px;
}
div.text-center button.btn {
  background-color: #394E8A;
  color: white;
  border: 2px solid #394E8A;
}
div.text-center button.btn:hover {
  background-color: white;
  color: black;
}
/*
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
ul li {
  display: inline;
  width: 800px;
  height: 200px;
  float: left;
  border: 1px solid red;
}
*/
.mitumori {
  display: none;
}

}
div.container {
  text-align: center;
}
div.row {
  text-align: center;
}
label {
  width: 120px;
  height: 200px;
  text-align: center;
}
label.btn {
  border: 3px solid #17A2B8;
}
input {
  opacity: 0;
  width: 0px;
  height:0px;
}
#total {
  display: none;
}

footer {
  text-align: center;
  background-color: #61615F;
}

/*スマホ対応*/
@media screen and (max-width:767px) {
  #start h1 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  #start p {
    padding-top: 30px;
    font-size: 20px;
  }
  #start button.btn {
    font-size: 15px;
  }
  div.mitumori h2 {
    font-size: 20px;
    margin: 70px 0px 30px 0px;
  }
  label {
    width: 120px;
    height: 150px;
  }
  div.col-xs-2 label.btn:hover {
    background-color: #17A2B8;
  }
  div.text-center button.btn {
    margin-bottom: 50px;
  }
  div.mitumori {
    margin-bottom: 50px;
  }



}

@media screen and (max-width: 992px) {
  label.btn {
    font-size: 7px;
  }
  label {
    width: 100px;
    height: 130px;
  }
}


@media screen and (max-width:350px) {

  label {
    width: 100px;
    height: 130px;
  }
}
