@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif !important;
}
/*  最後のページ_主題  */
body h1 {
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 5px;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: 50px 0px 50px 0px;
}
h1 span {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

/*  最後のページ_本文  */
div.contentA,
div.contentB {
  font-family: "Noto Sans JP", sans-serif;
}

div.contentA div.col-md-4,
div.contentA div.col-sm-4 {
  letter-spacing: 3px;
  font-size: 1rem;
  width: 200px;
  height: 120px;
  margin-top: 50px;
  padding: 5px 10px;
  border: 3px double #f55427;
  text-align: center;
}
div.contentA div.col-8 {
  font-size: 1.5rem;
  width: 200px;
  height: 120px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 15px 10px;
  border: 3px double #f55427;
  text-align: center;
}
div.contentA div.col-md-4 span#resultText {
  letter-spacing: 3px;
  font-size: 1.5rem;
}
div.contentA div.col-sm-4 span#resultText,
div.contentA div.col-8 span#resultText {
  font-size: 1.5rem;
}
div.contentA div.col-md-4 span#result,
div.contentA div.col-sm-4 span#result,
div.contentA div.col-8 span#result {
  font-size: 4.5rem;
  color: red;
}
div.contentB div.col-md-6 p,
div.contentB div.col-sm-6 p {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 2px;
}
div.contentB div.col-md-6 div.info,
div.contentB div.col-sm-6 div.info {
  font-size: 1.4rem;
  letter-spacing: 2px;
}
form input,
form textarea {
  font-size: 1.4rem !important;
  letter-spacing: 2px;
  padding: 2rem 1rem !important;
}

div.contentB button {
  font-size: 1.6rem;
}
div.contentB div.col-lg-4 {
  text-align: center;
}

/*  ボタン  */
div.contentC div.col-md-4,
div.contentC div.col-sm-4,
div.contentC div.col-4 {
  text-align: center;
}
div.contentC button {
  background-color: #16406b;
  border: 1px solid #16406b;
  border-radius: 40px;
  padding: 16px 28px;
  margin-top: 50px;
  font-weight: bold;
}
div.contentC button a {
  color: white;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 3px;
}

/*  タブレット対応  */
@media screen and (max-width: 768px) {
  div.contentC div.col-sm-4 button {
    padding: 8px 14px;
  }
  div.contentC div.col-sm-4 button a {
    font-size: 10px;
  }
}

@media screen and (max-width: 576px) {
  div.contentB div.col-8 {
    margin-top: 10px;
  }
  div.contentB div.col-10 {
    margin-top: 20px;
  }
}

@media screen and (min-width: 576px) {
  div.contentB div.col-8 {
    margin-top: 0px;
  }
}

/*  スマホ対応  */
@media screen and (max-width: 510px) {
  body h1 {
    font-size: 2rem;
  }
  div.contentA div.col-8 {
    font-size: 1.5rem;
    height: 90px;
    width: 200px;
  }
  div.contentA div.col-8 span#resultText {
    font-size: 1.5rem;
  }
  div.contentA div.col-8 span#result {
    font-size: 3rem;
    color: red;
  }
}
