h1 {
  text-align: center;
  margin: 50px 0px 100px 0px;
  border-bottom: 2px solid black;
}
p {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 80px;
  margin-left: 100px;
  border:3px double #F55427;
  background-color: #FFE9E3;
  text-align: center;
}
