@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
body {
  font-family: 'Noto Sans JP', sans-serif;
}

body h1 {
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 5px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 50px 0px 50px 0px;
}
h1 span {
  border-bottom: 2px solid black;
}
div.contentA, div.contentB {
  font-family: 'Noto Sans JP', sans-serif;
}

div.contentA div.col-md-4 {
  letter-spacing: 3px;
  font-size: 10px;
  width: 200px;
  height: 120px;
  margin-top: 50px;
  padding: 5px 10px;
  border:3px double #F55427;
  text-align: center;
}
div.contentA div.col-md-4 span#resultText {
  letter-spacing: 3px;
  font-size: 15px;
}
div.contentA div.col-md-4 span#result {
  font-size: 45px;
  color: red;
}

div.contentA div.col-sm-4 {
  letter-spacing: 3px;
  font-size: 15px;
  width: 200px;
  height: 120px;
  margin-top: 50px;
  padding: 5px 10px;
  border:3px double #F55427;
  text-align: center;
}
div.contentA div.col-sm-4 span#resultText {
  font-size: 15px;
}
div.contentA div.col-sm-4 span#result {
  font-size: 45px;
  color: red;
}
div.contentA div.col-8 {
  font-size: 15px;
  width: 200px;
  height: 120px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 5px 10px;
  border:3px double #F55427;
  text-align: center;
}
div.contentA div.col-8 span#resultText {
  font-size: 15px;
}
div.contentA div.col-8 span#result {
  font-size: 45px;
  color: red;
}

div.contentB div.col-md-6 p,
div.contentB div.col-sm-6 p {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
}
div.contentB div.col-md-6 div.info,
div.contentB div.col-sm-6 div.info {
  font-size: 14px;
  letter-spacing: 2px;
}


@media screen and (max-width: 510px) {

  body h1 {
    font-size: 25px;
  }
  div.contentA div.col-8 {
    font-size: 15px;
    height: 90px;
    width:200px;
  }
  div.contentA div.col-8 span#resultText {
    font-size: 8px;
  }
  div.contentA div.col-8 span#result {
    font-size: 25px;
    color: red;
  }

}

div.contentC button {
  font-weight: bold;
}

div.contentC div.col-md-4 {
  text-align: center;
}
div.contentC div.col-sm-4 {
  text-align: center;
}
div.contentC div.col-4 {
  text-align: center;
}

@media screen and (max-width: 768px) {

  div.contentC div.col-sm-4 button {
    padding:8px 14px;
    w
  }
  div.contentC div.col-sm-4 button a {
    font-size: 10px;
  }
}

div.contentC button {
  background-color: #16406b;
  border: 1px solid #16406b;
  border-radius: 40px;
  padding:16px 28px;
  margin-top: 50px;
}
div.contentC button a {
  color: white;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 3px;
}
